<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affair Prediction</title>
</head>
<body>
    <h1>Enter your values for Prediction</h1>

    <div class="form">
        <form action = "/predict" method="post">
            <input type="number" name="rate_marriage" id="rate_marriage" placeholder="rate_marriage">
            <input type="number" name="age" id="age" placeholder="age">
            <input type="number" name="yrs_married" id="yrs_married" placeholder="yrs_married">
            <input type="number" name="children" id="children" placeholder="children">
            <input type="number" name="religious" id="religious" placeholder="religious">
            <input type="number" name="educ" id="educ" placeholder="educ">
            <input type="number" name="occupation" id="occupation" placeholder="occupation">
            <input type="number" name="occupation_husb" id="occupation_husb" placeholder="occupation_husb">
            <input type="submit" value="Predict">
        </form>

    </div>

</body>
</html>